<div class="container">
<h2 class="header mx-auto my-5">Industry List</h2>
<hr>
<p style="color: green"><%= notice %></p>
<table class=".d-flex table-striped table-bordered w-100 table-sm px-5 my-5 ">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">E-Mail</th>
      <th scope="col">Registration_Number</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <% @industries.each do |industry| %>
      <tr>
        <td>
          <%=industry.name%>
        </td>
        <td>
          <%=industry.email%>
        </td>
        <td>
          <%=industry.registration_number%>
        </td>
        <td>
          <%= link_to "Info" , industry %>
        </td>
      </tr>
      <%end%>
  </tbody>
  </table>
<hr>
  <button class="btn">
    <%= link_to "New industry" , new_industry_path %>
  </button>
  <button class="btn">
    <%= link_to "New Sector" , new_sector_path %>
  </button>
  <button class="btn">
    <%= link_to "All Sector" ,sectors_path %>
  </button>
  </div>